<footer class="site-footer">
    <div class="site-identity">
      <p><a href="#">&#169;
        <%= new Date().getFullYear() %></a> made with ❤️ by techservit | all rights reserved | <a target="_self" href="/terms">terms of use</a> | <a target="_self" href="/privacy">privacy policy</a></p>
    </div>
  </footer>
  