<header class="site-header">
  <div class="site-identity">
    <h1><a href="/">TechServ Business IT</a></h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li><a href="/">about</a></li>
      <li><a href="/home">view articles</a></li>
      <!-- First create .ejs for socials -->
      <!-- <li><a href="#">socials</a></li> -->
    </ul>
  </nav>
</header>
